@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.date {
color: #969696;


}

body {
    padding-left: 50px;
    padding-right: 50px;
    font-family: Source-Sans-Pro sans-serif;
}

header > h1 {
    text-align: center;
    font-weight: 900;
    font-family: Abril Fatface sans-serif;
}

nav > ul {
    border-top: #969696 1px solid;
    border-bottom: #969696 1px solid;
    /*border: black 1px solid;*/
    padding-left: 100px;
    padding-right: 10px;
}

nav > ul > li {
  list-style: none;
 /* border: black 1px solid;*/
  display: inline-block;
  width: 10%;
  margin-left: 10px;
  
}

nav > ul > li > a {
    color: #969696;
    text-decoration: none;
}

main  img {
  display: inline-block;
  width: 100%;
}
.more-articles {
    
}

section {
    display: inline-block;
    border: black 2px solid;
    width: 45%;
    margin-right: 83px;
}